
body {
    background-color: aliceblue;
}

main {
    width: 100%;
    /*background-color:#fff;*/
    margin: 0px auto;
    padding: 0px;
    background-color: white;
}
    main .search_text {
        float: none;
        text-align: center;
        
    }
    main .search_text input {
        width: 500px;
        color:gray;
    }
#trItem {
    background-color: #599BB3;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
    /*background-color: red;
    display: block;
    margin-top: 8px;
    border-radius: 8px;*/
}
#imgMovie img {
    /* width:100%;
   height:100%;*/
    width: 160px;
    height: 190px;
}
    #imgMovie img:hover {
        width: 180px;
        height: 240px;
        display: inline-block;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
.table {
    text-align: center;
    
}
.table img{
    width:80px;
    height:80px;
    display:block;
}

.item {
    
    background-color: powderblue;
    
    border:solid 1px gray;
    font-style:italic;
padding:20px 0px;
   
}
.itemName {
    
    background-color: #F0F0F0;
    border: dotted 2px #000;
}
.itemDescription {
    background: #ecf9f2;
}
#btnAdd a {
    color:blue ;
    font-size: 16px;
   
    text-decoration:underline;
}
    #btnAdd a:hover {
        color: orange;
        text-decoration: none;
    }


 #mainOrders {
    width: 100%;
   background-color:#fff;
    margin: 0px auto;
    padding: 30px;
}
#btnLogout{
    float:right;
    margin-top:10px;
}
    #btnLogout a {
        color: white;
    }
#Rental_Movie {
    color: #1aff66;
    font-size: 20px;
    padding-top: 10px;
}
footer {
    background-color: gainsboro;
}
footer {
    clear: both;
    height: 80px;
    border: 2px solid #6699FF;
    background-color: #599BB3;
    margin-top: 7px;
    border-radius: 8px;
    text-align: center;
    font-family: Arial;
    font-size: 15px;
    color: white;
    margin-bottom:15px;
}

footer ul {
    list-style-type: none;
    text-align: center;
    margin: 10px;
}

    footer ul li {
        display: inline;
    }

        footer ul li a {
            margin: 5px;
            text-decoration: none;
            text-align: center;
            color: white;
        }
            footer ul li a:hover {
                color: aquamarine;
                background-color: gray;
                padding:4px;
                border-radius: 8px;
            }
.body-content {
    background-color: white;
}
#Submit1 {
    background-color: cadetblue;
    width: 255px;
    height: 50px;
    margin-top: 10px;
    color: #fff;
    font-size: 18px;
}
    #Submit1:hover {
        color: #9fdfbf;
        background-color: gray;
        border: 3px dotted #fff;
    }
#Submit2 {
    background-color:darkseagreen;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    color: #fff;
    font-size: 18px;
}

#Submit2:hover {
    color: #9fdfbf;
    background-color: gray;
    border: 3px dashed #fff;
}
#imageMOVIE {
    float: right;
    padding: 20px;
    margin: 10px;
    
  
}
#main_login {
    width: 450px;
    margin-top: 10px;
    float: left;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #ffeb99;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    border:dotted 7px #fff;
}
#main_SignUp {
    margin-top: 10px;
    border-top: double 6px #fff;
   
    padding: 8px;
}
h2 {
    font-size:20px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    

}